.idea
.vendor
.htaccess
workspace.xml
wp-config.php
object-cache.php
advanced-cache.php
wp-cache-config.php

readme.html
license.txt

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

# track these files, if they exist
!.gitignore
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!composer.json

# track favicon files, if they exist
!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg

sitemap.xml