#encode
    # Use UTF-8 encoding for anything served text/plain or text/html
    AddDefaultCharset utf-8

    # Force UTF-8 for a number of file formats
    AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

    #Allow Cross-Domain Fonts
    <IfModule mod_headers.c>
        <FilesMatch "\.(eot|otf|ttc|ttf|woff|woff2)$">
            Header set Access-Control-Allow-Origin "*"
        </FilesMatch>
    </IfModule>


#Security
    #Reconhecer HTTPS
    SetEnvIf X-Forwarded-Proto https HTTPS=on

    ### Prevent wp-config.php from being loaded:
    <files wp-config.php>
        order allow,deny
        deny from all
    </files>

    ### Prevent sftp-config.json from being loaded:
    <files sftp-config.json>
        order allow,deny
        deny from all
    </files>

    ### Protect .htaccess
    <Files ~ "^.*\.([Hh][Tt][Aa])">
        order allow,deny
        deny from all
        satisfy all
    </Files>

    ### Secure wp-includes
    <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /
      RewriteRule ^wp-admin/includes/ - [F,L]
      RewriteRule !^wp-includes/ - [S=3]
      RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
      RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
      RewriteRule ^wp-includes/theme-compat/ - [F,L]
    </IfModule>

    ### Prevent directory browsing
    <IfModule mod_autoindex.c>
      Options -Indexes
    </IfModule>

    ### Prevent this .htaccess from being accessed:
    <files .htaccess>
        order allow,deny
        deny from all
    </files>

    ### Prevent WordPress' readme.html from being accessed
    <files readme.html>
        Deny from all
    </files>

    ### Disable HTTP Trace
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^TRACE
    RewriteRule .* - [F]

    ### Block access to hidden files & directories
    <IfModule mod_rewrite.c>
        RewriteCond %{SCRIPT_FILENAME} -d [OR]
        RewriteCond %{SCRIPT_FILENAME} -f
        RewriteRule "(^|/)\." - [F]
    </IfModule>

    ### Deny Access to Backup and Source Files
    <FilesMatch "(^#.*#|\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|sw[op])|~)$">
        Order allow,deny
        Deny from all
        Satisfy All
    </FilesMatch>
