//CORES FIXAS
$cor-branca:  #fff;
$cor-preta:   #111319;
$cor-texto:   #202233;

// CORES SITE
$cor-principal:    #6160ee;
$cor-secundaria:   #01a5b3;
$cor-adicional: #ff5758;

//CONTACT FORM 7
$cor-amarela-alerta:         #f7c929;
$cor-vermelha-alerta:        #c92d31;
$cor-verde-finalizacao:      #398f14;

//ESTRUTURA DE FONTES
$fonte-principal:     "Montserrat";
$fonte-semi-negrito:  $fonte-principal;


//ESTRUTURA - GRID
$max-width: 1220px;

//TAMANHO GERAL DE FONTES
$h1:  5em;
$h2:  $h1 - 0.5em;
$h3:  $h2 - 0.5em;
$h4:  2em;

//GRID
$totalColunas : 12;

//PADDING PADRAO
$tamPadding: 1em;

//TAMANHO GERAL DE PARAGRAFOS
$tamanho_lina_padrao : 35px;